.title {
    text-align: center;
    text-emphasis: bold;
}

.recipes {
    padding: 12px;
    border: 1px solid black;
    margin: 0 auto;
    width: 450px;
    font-size: 25px;
    font-family: sans-serif;
}